<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.priproducts.dao.OrderDao">

	<insert id="insert" parameterType="com.priproducts.entity.Order">
		insert into orders (uid,aid,xid,number,createtime,state,beizhu,ordernumber,x_name,img, paynumber)
		values(#{uid},#{aid},#{xid},#{number},#{createtime},#{state},#{beizhu}, #{ordernumber},#{x_name},#{img}, #{paynumber})
	</insert>

	<select id="findAll" resultType="com.priproducts.entity.Order" parameterType="com.priproducts.entity.Order">
		select *
		from orders o where 1 = 1
		<if test="ordernumber != null and ordernumber !=''">and oid like #{ordernumber}</if>
		<if test="x_name != null and x_name !=''">and x_name like #{x_name}</if>
		<if test="uid != null and uid !=''">and uid like #{uid}</if>
		<if test="state != null and state !=''">and state = #{state}</if>
		<if test="startRow != null"> limit #{startRow},#{pageSize}</if>
	</select>

	<select id="count" resultType="java.lang.Long" parameterType="com.priproducts.entity.Order">
		select count(o.oid)
		from orders o where 1 = 1
		<if test="ordernumber != null and ordernumber !=''">and ordernumber like #{ordernumber}</if>
		<if test="x_name != null and x_name !=''">and x_name like #{x_name}</if>
		<if test="state != null and state !=''">and state = #{state}</if>
	</select>

	<select id="findOne" resultType="com.priproducts.entity.Order" parameterType="java.lang.String">
		select oid,a.name,phone,a.addr,g.x_name,o.number,g.x_price,o.number*g.x_price tprice,g.xid,
		o.createtime,g.x_img,state,zts,fts,cjts,c.kname,tts,u.username username,u.useremail,beizhu
		from address a,xiangqing g,orders o,kind c,user u
		where o.aid = a.id and o.xid = g.xid and o.uid = u.uid and c.kid = g.xid and ordernumber = #{oid}
	</select>


	<select id="findByUid" resultType="com.priproducts.entity.Order" parameterType="com.priproducts.entity.Order">
		select oid,a.username,telephone,a.address,gname,o.numbers,g.price,o.numbers*g.price tprice,g.gid,
		o.cts,g.img,ostatus,zts,fts,cjts,cname,tstatus,tts,times,tips
		from address_info a,goods_info g,Orders o,class_info c
		where o.aid = a.aid and o.gid = g.gid and o.uid = #{uid} and o.dstatus = 0 and c.cid = g.cid
		<if test="gname != null and gname != ''">and g.gname like #{gname}</if>
		<if test="oid != null and oid != ''">and oid like #{oid}</if>
		<if test="ostatus != null">and o.ostatus = #{ostatus}</if>
		<if test="ostatus != null and ostatus == 5">or o.ostatus = 6 or o.ostatus = 7</if>
		<if test="ostatus != null and ostatus == 0">order by o.cts desc</if>
		<if test="ostatus != null and ostatus == 1">order by o.zts desc</if>
		<if test="ostatus != null and ostatus == 2">order by o.fts desc</if>
		<if test="ostatus != null and ostatus == 3">order by o.cjts desc</if>
		<if test="ostatus != null and ostatus == 4">order by o.cjts desc</if>
		<if test="ostatus != null and ostatus == 5">order by o.tts desc</if>
		<if test="startRow != null">limit #{startRow},#{pageSize}</if>
	
	</select>
	
	<update id="update" parameterType="com.priproducts.entity.Order">
		update orders
		<trim prefix="set" suffixOverrides=",">
		<if test="state != null">state = #{state},</if>
		<if test="zts != null and zts != ''">zts = #{zts},</if>
		<if test="tts != null and tts != ''">tts = #{tts},</if>
		<if test="fts != null and zts != ''">fts = #{fts},</if>
		<if test="cjts != null and zts != ''">cjts = #{cjts},</if>
		<if test="beizhu != null and tips != ''">beizhu = #{beizhu},</if>
		</trim>
		where oid = #{oid} or ordernumber = #{ordernumber}
			
	</update>
	
</mapper>